img {

    border-right: 100ch;
    width: 600px;
    height:600px;
    padding: 30px;
    float: left;
  }
  
  .textarea { resize: none;
    background-color: rgb(197, 123, 33);
}
.textarea:focus-visible{ 
    background-color: rgb(55, 55, 156);
    color: aqua;}
  body
{ background-color: bisque;}
button { background-color: green;
  font-size: 20pt;
} 
button:hover{color: blueviolet;
     background-color: aquamarine;}
     
.size {font-size: 15pt;}
input{font-size: 15pt;}

     