%button-header{
    height:41px;
    padding: 10px 16px;
    border-radius:8px;
    border:0px transparent;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  %button-section{
    border-radius:8px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 16px 36px;
    font-weight: 400;
    font-size: 18px;
  }